html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
  background: #FFE6CE;
  height: 100%;
}
html,
body {
  padding: 0;
  margin: 0;
}
body {
  min-height: 100%;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 2rem;
}
body {
  background-color: #FFE6CE;
  color: #E76D00;
  margin: auto;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
}
@media (max-width: 500px) {
  body {
    width: 100%;
  }
}
@media (min-width: 501px) and (max-width: 999px) {
  body {
    width: 85%;
  }
}
@media (min-width: 1000px) {
  body {
    width: 70%;
  }
}
nav {
  margin: auto;
}
@media (max-width: 500px) {
  nav {
    width: 60%;
  }
}
@media (min-width: 501px) and (max-width: 999px) {
  nav {
    width: 50%;
  }
}
@media (min-width: 1000px) {
  nav {
    width: 40%;
  }
}
nav a {
  text-decoration: none;
  color: #E76D00;
  font-size: 2rem;
}
.get-started {
  margin: 2% 0% -2% 0%;
  height: 25px;
  width: 25%;
  background: #FF9E47;
  border: 1px solid #E76D00;
  border-radius: 10px;
  color: white;
}
.nav {
  height: 50px;
  background: #E76D00;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}
.nav img {
  margin-left: 5px;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: center;
}
.navbar a {
  color: white;
}
.button {
  text-align: center;
}
.hype-zone {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 3%;
}
@media (min-width: 501px) and (max-width: 999px) {
  .hype-zone {
    justify-content: space-between;
  }
}
@media (min-width: 1000px) {
  .hype-zone {
    justify-content: space-between;
  }
}
.hype-box {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.hype-box div {
  margin: auto;
}
@media (max-width: 500px) {
  .hype-box {
    margin-top: 5%;
  }
  .hype-box img {
    max-width: 80%;
    margin: 1% auto;
  }
}
@media (min-width: 501px) and (max-width: 999px) {
  .hype-box {
    width: 48%;
    min-width: 350px;
    margin: 10% 0% 0% 0%;
  }
  .hype-box img {
    width: 60%;
    margin: auto;
  }
}
@media (min-width: 501px) and (max-width: 999px) and (min-width: 501px) and (max-width: 837px) {
  .hype-box {
    width: 80%;
    margin: 5% auto;
  }
  .hype-box img {
    width: 80%;
  }
}
@media (min-width: 1000px) {
  .hype-box {
    width: 32%;
    margin: 1% 0% 0% 0%;
  }
  .hype-box img {
    width: 75%;
    margin: auto;
  }
}
.how-to {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 3%;
}
@media (min-width: 501px) and (max-width: 999px) {
  .how-to {
    justify-content: space-between;
  }
}
@media (min-width: 1000px) {
  .how-to {
    justify-content: space-between;
  }
}
.how-to-box {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.how-to-box h3 {
  margin: auto;
}
.how-to-box div {
  margin: auto;
}
@media (max-width: 500px) {
  .how-to-box {
    margin-top: 5%;
  }
  .how-to-box img {
    max-width: 80%;
    margin: 1% auto;
  }
}
@media (min-width: 501px) and (max-width: 999px) {
  .how-to-box {
    width: 48%;
    min-width: 350px;
    margin: 10% 0% 0% 0%;
  }
  .how-to-box img {
    width: 60%;
    margin: auto;
  }
}
@media (min-width: 501px) and (max-width: 999px) and (min-width: 501px) and (max-width: 837px) {
  .how-to-box {
    width: 80%;
    margin: 5% auto;
  }
  .how-to-box img {
    width: 80%;
  }
}
@media (min-width: 1000px) {
  .how-to-box {
    width: 32%;
    margin: 1% 0% 0% 0%;
  }
  .how-to-box img {
    width: 75%;
    margin: auto;
  }
}
.dev {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  margin: 1%;
}
.dev-box {
  display: flex;
  flex-direction: column;
  margin: 1%;
  margin-top: 10%;
  width: 100%;
}
.dev-box img {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  border-radius: 50px;
}
@media (max-width: 500px) {
  .dev-box {
    margin: auto;
    margin-top: 5%;
  }
}
@media (min-width: 501px) and (max-width: 999px) {
  .dev-box {
    width: 48%;
    margin: auto;
    margin-top: 5%;
  }
}
@media (min-width: 1000px) {
  .dev-box {
    width: 30%;
  }
}
