.hype-zone {
    .flex();
    .direction(column);
}

.hype-box {
    .flex();
    .direction(row);
    .wrap(nowrap);
    margin: 1%;
    img {
        width: 50%;
    }
    div {
        margin: auto;
    }
}