.hype-zone {
    .flex(column, null);
}

.hype-box {
    @media @phone {
        .flex(column, null);
        img {
            max-width: 80%;
            margin: 1% auto;
        }
        div {
            margin: auto;
        }
        
    }
    @media @tablet {
        .flex(row, null);
        .wrap(nowrap);
        margin: 1% 0% 0% 0%;
        img {
            width: 50%;
        }
        div {
            margin: auto;
        }
    }
    @media @desktop {

    }
}