.flex(@type, @direction) {
    display: flex;
    & when (@type = row) {
        & when (@direction = reverse) {
            flex-direction: row-reverse;
        }
        & when (@direction = null) {
            flex-direction: row;
        }
    }
    & when (@type = column) {
        & when (@direction = reverse) {
            flex-direction: column-reverse;
        }
        & when (@direction = null) {
            flex-direction: column;
        }
    }
}

.justify(@justify) {
    justify-content: @justify;
}

.f-align(@align) {
    align-items: @align;
}

.wrap(@wrap) {
    flex-wrap: @wrap;
}