.flex(@direction) {
    display: flex;
    flex-direction: @direction;
}

.justify(@justify) {
    justify-content: @justify;
}

.f-align(@align) {
    align-items: @align;
}

.wrap(){
    flex-wrap: wrap;
}

.noWrap(){
    flex-wrap: nowrap;
}