.nav {
    height: 50px;
    background: @dark;
    .flex(row);
    .justify(space-between);
    .noWrap();
    .f-align(center);
    img {
        margin-left: 5px;
    }
}

.navbar {
    a{
        color: white;
    }
    .flex(row);
    .justify(space-evenly);
    .noWrap();
    .f-align(center);
}