.nav {
    height: 50px;
    background: @dark;
    .flex();
    .direction(row);
    .justify(space-between);
    .wrap(nowrap);
    .f-align(center);
    img {
        margin-left: 5px;
    }
}

.navbar {
    a{
        color: white;
    }
    .flex();
    .direction(row);
    .justify(space-evenly);
    .wrap(nowrap);
    .f-align(center);
}