header {
    margin-top: 20px;
    // padding: 20px 0px;
    background-color: #ff9e47;
    height: 100px;
    display: flex;
    align-items: center;
    h2{
        font-size: 3rem;
        width: 50%;
        font-family: 'raleway', sans-serif;
    }
    nav {
        width: 50%;
        display: flex;
        // justify-content: space-between;
    }
    nav a{
        text-decoration: none;
        font-family: 'raleway', sans-serif;
        color: black;
        font-size: 1.4rem
    }
}
