header {
    // border: 2px solid red;
    margin-bottom: 50px;
    margin-top: 20px;
    background-color: orange;
    height: 100px;
    display: flex;
    h2{
        font-size: 3rem;
    }
    nav a{
        text-decoration: none;
    }
}
