.dev {
    .flex(row);
    .wrap();
    text-align: center;
    margin: 1%;
}

.dev-box {
    .flex(column);
    margin: 1%;
    margin-top: 10%;
    width: 100%;
    img {
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        border-radius: 50px;
    }
    @media @phone {
        margin: auto;
        margin-top: 5%;
    }

    @media @tablet {
        width: 48%;
        margin: auto;
        margin-top: 5%;
    }

    @media @desktop {
        width: 30%;
    }
}